Source: ros-indigo-interaction-cursor-3d
Section: misc
Priority: extra
Maintainer: Adam Leeper <adamleeper@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), ros-indigo-catkin
Homepage: http://www.ros.org/wiki/interaction_cursor_3d
Standards-Version: 3.9.2

Package: ros-indigo-interaction-cursor-3d
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, ros-indigo-cmake-modules, ros-indigo-geometry-msgs, ros-indigo-interaction-cursor-msgs, ros-indigo-message-runtime, ros-indigo-razer-hydra, ros-indigo-roscpp, ros-indigo-rviz, ros-indigo-rviz-fixed-view-controller, ros-indigo-std-msgs, ros-indigo-tf, ros-indigo-visualization-msgs
Description: Metapackage for interaction cursor functionality.
